{% extends 'logedin_base.html' %} {% block body%}

<div class="row">
    <div class="col-lg-4" id="edit_form">
        <div class="container">
            <form method="post">
                    {% csrf_token %} {{ form.as_p}}
                    {{ form.errors }} {{ form.non_field_errors }}
                    <button class="btn btn-md btn-success" type="submit" name="button">Update</button>
            </form>
        </div>
    </div>
</div>


<script>
    document.getElementById("edit").onclick = function () {
        myFunction()
    };

    function myFunction() {
        document.getElementById("edit_form").hidden = false;
    }
</script>
{% endblock %}